<div class="row mb-3 pb-3 border-bottom search-result">
  <div class="col">
    <div class="search-img">{{ fields.field_image.content }}</div>
    <div class="search-metadata listing-metadata">
      <h5>{{ fields.field_publish_date.content }}{{ fields.field_event_date_1.content }}{{ fields.type.content }}{{ fields.field_article_type.content }}{{ fields.field_media_type.content }}{{ fields.field_resource_type.content }}{{ fields.field_event_class.content }}</h5>
    </div>
    <div class="search-content">
      <h4>{{ fields.title.content }}</h4>
    </div>{{ fields.body.content }}{{ fields.search_api_excerpt.content }}
  </div>
</div>